<%- include('partials/header');  %>

<header>Home</header>
<% for (let x = 0; x < values.length; x ++) {%>

	<span class="text-base"><%= values[x].name %></span>

<% } %>
<main></main>

<footer></footer>
<%- include('partials/footer');  %>